@model ExchangeViewModel
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    <h2 class="alert alert-success">Dolar Alış Fiyatı:@Model.data.exchange_rate</h2>
    <h2 class="alert alert-danger"> Dolar Satış Fiyatı: @Model.data.previous_close</h2>

</div>