@model List<ImdbSeriesViewModel>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container"
    <br /> <br />
    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>Dizinin Adı</th>
            <th>Puanı</th>
            <th>Imdb Linki</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
            <td>@item.rank</td>
            <td>@item.title</td>
            <td>@item.rating</td>
            <td><a href="@item.imdb_link" class="btn btn-primary">IMDB Linki</a></td>
            </tr>
        }
    </table>
</div>